@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

 * {
   margin: 0;
   padding: 0;
   border: 0;
 }

html {
  background-color: #073642;
  font-family: "Source Code Pro", "Segoe UI", sans-serif;
}

.bar {
  background-color: #002b36;
  text-align: center;
  top: 0;
  width: 100%;
}


h1 {
  font-size: 5em;
  color: #859900;
}

h2 {
  color: #b58900;
  font-size: 2em;
}

h3 {
  color: #dc322f;
  font-size: 1.7em;
}

p {
  color: #268bd2;
  font-size: 1em;
}

a {
  text-decoration: underline;
  color: #2aa198;
}

.bar a {text-decoration: none;}

@keyframes fadein {
  0% {opacity: 0}
  100% {opacity: 1}
}